<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AlpacaChat</title>
    <link rel="stylesheet" href="css/globalStyles.css">
    <script type="text/javascript"> 
        function scroll() {
            var objDiv = document.getElementById("mainFeedTextsDiv");
            objDiv.scrollTop = objDiv.scrollHeight;
        }
    </script>
</head>


    <!-- main feed -->
    <div id="mainFeed">
        <div id="mainFeedTextsDiv">
            <ul id="mainFeedTexts"></ul>
        </div>
        <!-- <div id="mainFeedInputDiv"> -->
            <textarea id="mainFeedInput" placeholder="Write a reply..." oninput='scroll()'></textarea>
        <!-- </div> -->
    </div>

    <!-- convo feed -->
    <div id="convoFeed">
        <input id="convoSearch" type="text" placeholder="Search">
        <ul id="convos">
        </ul>
    </div>

    <!-- collection view -->
    <div id="collectionView">
        <ul id="collectionViewCollections">
        </ul>
        <input id="createNewCollection" type="text" placeholder="New Collection...">
        <!-- <button type="button" onclick= "">Create New Collection</button> -->
    </div>


    <!-- templates -->
    <script id="textUnitView" type="text/template">
        <div class="textUnit">
            <%= body %>
        </div>
    </script>
    <script type="collectionView" type="text/template">
        <div class="collection">
            <%= body %>
    </script>
    <script id="convoUnitView" type="text/template">
        <div class="convoUnit">
            <%= title %>
        </div>
    </script>

	<!-- dependencies -->
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/underscore.js"></script>
	<script src="js/libs/backbone.js"></script>

    <!-- backbone -->
    <script src="js/models/textUnitModel.js"></script>
    <script src="js/views/textUnitView.js"></script>
    <script src="js/collections/textUnitCollection.js"></script>
    <script src="js/views/mainFeedView.js"></script>
    <script src="js/views/convoFeedView.js"></script>
    <script src="js/views/convoUnitView.js"></script>
    <script src="js/models/convoUnitModel.js"></script>
    <script src="js/collections/convoUnitCollection.js"></script>
    <script src="js/views/collectionView.js"></script>
    <script src="js/models/collectionModel.js"></script>
    <script src="js/collections/collectionCollection.js"></script>
    <script src="js/views/collectionViewView.js"></script>
    <script src="js/main.js"></script>

</html>
