<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AlpacaChat</title>
    <link rel="stylesheet" href="frontend/css/globalStyles.css">
</head>


    <!-- main feed -->
    <div id="mainHeader"></div>

    <div id="mainFeed">
        <div id="mainFeedTextsDiv">
            <ul id="mainFeedTexts"></ul>
        </div>
        </ul>
        <textarea id="mainFeedInput" placeholder="Write a reply..." autofocus></textarea>
    </div>

    <!-- convo feed -->
    <div id="convoFeed">
        <div id="convosDiv">
            <ul id="convos"></ul>
        </div>
        <input id="convoSearch" type="text" placeholder="Search">
        <div id="logoutDiv">
            <a id="logout" href="http://www.google.com">Logout</a>
        </div>
    </div>

    <!-- collection view -->
    <div id="colFeed">
        <div id="colsDiv">
            <ul id="cols"></ul>
        </div>
        <input id="createNewCollection" type="text" placeholder="New Collection...">
        <!-- <button type="button" onclick= "">Create New Collection</button> -->
    </div>


    <!-- templates -->
    <script id="textUnitView" type="text/template">
        <a href="#save/<%= body %>">
            <div class="textUnit">
                <%= body %>
                <br>
                <div class="timestamp">
                    <%= timestamp %>
                </div>
            </div>
        </a>
        <!--<select class="collections">-->
        <!--</select>-->
    </script>

    <script id="deckTemplate" type="text/template">
        <div class="deck">
            <%= name %>
        </div>
    </script>

    <script id="convoUnitView" type="text/template">
        <a href="#message/<%= id %>">
            <div class="convoUnit">
                <%= title %>
            </div>
        </a>
    </script>
    <script id="mainHeaderTemplate" type="text/template">
        <div class="mainHeaderView">
            <%= title %>
        </div>
    </script>

	<!-- dependencies -->
    <script src="frontend/js/libs/jquery.js"></script>
    <script src="frontend/js/libs/underscore.js"></script>
	<script src="frontend/js/libs/backbone.js"></script>

    <!-- backbone -->
    <script src="frontend/js/models/textUnitModel.js"></script>
    <script src="frontend/js/views/textUnitView.js"></script>
    <script src="frontend/js/collections/textUnitCollection.js"></script>
    <script src="frontend/js/views/mainFeedView.js"></script>
    <script src="frontend/js/views/convoFeedView.js"></script>
    <script src="frontend/js/views/convoUnitView.js"></script>
    <script src="frontend/js/models/convoUnitModel.js"></script>
    <script src="frontend/js/collections/convoUnitCollection.js"></script>
    <script src="frontend/js/routes/router.js"></script>
    <script src="frontend/js/models/deckModel.js"></script>
    <script src="frontend/js/views/deckView.js"></script>
    <script src="frontend/js/collections/deckCollection.js"></script>
    <script src="frontend/js/views/colFeedView.js"></script>
    <script src="frontend/js/views/mainHeaderView.js"></script>
    <script src="frontend/js/main.js"></script>

</html>
