<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AlpacaChat</title>
    <link rel="stylesheet" href="frontend/css/globalStyles.css">
    <link href="data:image/x-icon;base64,R0lGODlhHAAcAMQfAP//5mZ7SxccEQ0QChsgFbHEkREUDW6GUVVoPywtJhQZDyAlGQ4RC09hO3uXWyImG9rjvSUpH4ehZpGocMzZrrnLmkFQMEhXNiMnHarAicPTpcrXrJ62fMfVqR8kGP///yH5BAEAAB8ALAAAAAAcABwAAAX/4CeOZGmS2Kmu3yAQbDwOAAAZMssYEkABgtzpUZM4LoCB0MSoAQivZYng9EWkpYXGWVlgURvu4ysSIKrdUWPAZigM8PjbzehUAQXPyFO1BBABgYENB4R3ABteH01Of4KPB4IZdwVXHwYaFTV+gpGPgQcOoQcTDBQjAhcOEqCeAZ6RZ1UdY6gFNg2OARIIgJ4Wd0okNJueF4CgARc9TsIkBBBOFggNogEOf4BVziUKhxkTBRMNE3cwKguHCw8PCxERjDXnJ1QAATUKJ8QQ8yb1xEH0yVvxL8kKGhMyrIgAQAOxWiYWUFAQ8ASGAhAweOtHIgEHDhVPFOCQgAIBS/QqE+RbYQAAg0vcskhYyTKmCpsiQgAAOw==" rel="icon" type="image/x-icon" />

</head>


    <!-- main feed -->
    <div id="mainHeader"></div>

    <div id="mainFeed">
        <script id="mainHeaderTemplate" type="text/template">
            <div class="mainHeaderView">
                <%= title %>
            </div>
        </script>
        <div id="mainFeedTextsDiv">
            <ul id="mainFeedTexts"></ul>
        </div>
        </ul>
        <textarea id="mainFeedInput" placeholder="Send a message..." autofocus></textarea>
    </div>

    <!-- convo feed -->
    <div id="convoFeed">
        <div id="convosDiv">
            <ul id="convos"></ul>
        </div>
        <input id="convoSearch" type="text" placeholder="Search Conversations...">
        <div id="logoutDiv">
            <a id="logout" href="http://www.google.com">Logout</a>
        </div>
    </div>

    <!-- collection view -->
    <div id="colFeed">
        <div id="colsDiv">
            <ul id="cols">
            </ul>
        </div>
        <input id="createNewCollection" type="text" placeholder="New Collection...">
    </div>

    <!-- individual deck view -->
    <div id="deckFeed">
        <div id="backDiv">
            <a id="back" href="#collections">Back</a>
        </div>
        <div id="decksDiv">
            <ul id="deckFeedTexts"></ul>
        </div>
    </div>

    <!-- card view -->
    <div id="cardFeed">
        <div id="cardDiv">
            <ul id="cards">
            </ul>
        </div>
        <input id="searchCards" type="text" placeholder="Search Messages...">
    </div>


    <!-- templates -->
    <script id="textUnitView" type="text/template">
        <div id="textUnitDiv">
            <a href="#save/<%= id %>">
                <%= body %>
            </a>
        </div>
        <div class="timestamp">
            <%= timestamp %>
        </div>
        <!--<select class="collections">-->
        <!--</select>-->
    </script>

    <script id="deckTemplate" type="text/template">
            <div class="deck">
                <a href="#deck/<%= id %>">
                    <%= name %>
                </a>

                <ul id="collectionTexts">
                </ul>

            </div>
    </script>

    <script id="convoUnitView" type="text/template">
        <a href="#message/<%= id %>">
            <div class="convoUnit">
                <%= title %>
            </div>
        </a>
    </script>

	<!-- dependencies -->
    <script src="frontend/js/libs/jquery.js"></script>
    <script src="frontend/js/libs/underscore.js"></script>
	<script src="frontend/js/libs/backbone.js"></script>
    <script src="frontend/js/libs/extensions.js"></script>
    <script src="frontend/js/libs/timestamp.js"></script>
    <script src="frontend/js/libs/jquery.animate-colors-min.js"></script>
    <script src="frontend/js/libs/socketio.js"></script>


    <!-- backbone -->
    <script src="frontend/js/models/textUnitModel.js"></script>
    <script src="frontend/js/views/textUnitView.js"></script>
    <script src="frontend/js/collections/textUnitCollection.js"></script>
    <script src="frontend/js/views/mainFeedView.js"></script>
    <script src="frontend/js/views/convoFeedView.js"></script>
    <script src="frontend/js/views/convoUnitView.js"></script>
    <script src="frontend/js/models/convoUnitModel.js"></script>
    <script src="frontend/js/collections/convoUnitCollection.js"></script>
    <script src="frontend/js/routes/router.js"></script>
    <script src="frontend/js/models/deckModel.js"></script>
    <script src="frontend/js/views/deckView.js"></script>
    <script src="frontend/js/collections/deckCollection.js"></script>
    <script src="frontend/js/views/colFeedView.js"></script>
    <script src="frontend/js/views/mainHeaderView.js"></script>
    <script src="frontend/js/views/deckFeedView.js"></script>
    <script src="frontend/js/main.js"></script>

</html>
