<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AlpacaChat</title>
    <link rel="stylesheet" href="frontend/css/globalStyles.css">
</head>


    <!-- main feed -->
    <div id="mainFeed">
        <div id="mainFeedTextsDiv">
            <ul id="mainFeedTexts"></ul>
        </div>
        </ul>
        <textarea id="mainFeedInput" placeholder="Write a reply..."></textarea>
    </div>

    <!-- convo feed -->
    <div id="convoFeed">
        <input id="convoSearch" type="text" placeholder="Search">
        <ul id="convos">
        </ul>
    </div>

    <!-- collection view -->
    <div id="colFeed">
        <ul id="cols">
        </ul>
        <input id="createNewCollection" type="text" placeholder="New Collection...">
        <!-- <button type="button" onclick= "">Create New Collection</button> -->
    </div>


    <!-- templates -->
    <script id="textUnitView" type="text/template">
        <div class="textUnit">
            <%= body %>
        </div>
    </script>

    <script type="deckTemplate" type="text/template">
        <div class="deck">
            <%= name %>
        </div>
    </script>

    <script id="convoUnitView" type="text/template">
        <a href="#message/<%= id %>">
            <div class="convoUnit">
                <%= title %>
            </div>
        </a>
    </script>

	<!-- dependencies -->
    <script src="frontend/js/libs/jquery.js"></script>
    <script src="frontend/js/libs/underscore.js"></script>
	<script src="frontend/js/libs/backbone.js"></script>

    <!-- backbone -->
    <script src="frontend/js/models/textUnitModel.js"></script>
    <script src="frontend/js/views/textUnitView.js"></script>
    <script src="frontend/js/collections/textUnitCollection.js"></script>
    <script src="frontend/js/views/mainFeedView.js"></script>
    <script src="frontend/js/views/convoFeedView.js"></script>
    <script src="frontend/js/views/convoUnitView.js"></script>
    <script src="frontend/js/models/convoUnitModel.js"></script>
    <script src="frontend/js/collections/convoUnitCollection.js"></script>
    <script src="frontend/js/routes/router.js"></script>
    <script src="frontend/js/models/deckModel.js"></script>
    <script src="frontend/js/views/deckView.js"></script>
    <script src="frontend/js/collections/deckCollection.js"></script>
    <script src="frontend/js/views/colFeedView.js"></script>
    <script src="frontend/js/main.js"></script>

</html>
