html {
  background-color: #EFF1F5;
  font-family: Helvetica, sans-serif;
}

ul {
	list-style-type: none;
	line-height: 1.2;
}

#mainFeed {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #EFF1F5;
	height: calc(100% - (1.5em + 4px));
	width: 50%;
}

#mainFeedInput {
	display:inline-block;
	position: absolute;
   	bottom: 10px;
   	left: 10px;
   	right: 10px;
   	height: 6em;
   	background: #FFFFFF;
   	margin: auto;
   	text-align: none;

   	border-radius: 5px;
	border-color: #A7ADB9;
	padding: 5px 22px 5px 5px;
	resize: none;
}

#convoFeed {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #C0C5CE;
	width: 50%;
	min-height: calc(1.5em + 4px);
	z-index: 1;
}

#convoSearch {
	display:inline-block;
	position: absolute;
	top: 2px;
	right: 4px;
	width: 15em;

	border-radius: 2px;
	border: 1px solid #A7ADB9;
	padding: 2px 2px;
}

#collectionView {
	position: absolute;
	left: 50%;
	top: 0;
	background-color: #DFE1E8;
	height: 100%;
	width: 50%;
}

#createNewCollection {
	display:inline-block;
	position: absolute;
	top: 2px;
	right: 4px;
	width: 15em;

	border-radius: 2px;
	border: 1px solid #A7ADB9;
	padding: 2px 2px;
}