html {
	background-color: #FAFCFF;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #343D46;
	overflow: hidden;
}

a {
	text-decoration: none;

}

a:hover {

}

#convos {
	position: relative;

	list-style: none;
	padding-left: 0;
	line-height: 1.2;
	color: #4F5B66;
}

#convos a {
	display: inline-block;
	width: 90%; /* change */
	padding-left: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	word-wrap: break-word;

	color: #4F5B66;
}

#convos a:hover {
	background-color: #B4B9C4;

	color: #2B303B;
}

#convos .selectedConvo a:hover {
	background-color: #A7ADB9;
}

#mainFeedTexts .myMessage{
    text-align: right;
}

#mainFeedTexts .myMessage a{
text-align: right;
background-color: #EBF1FF;
border-color: #D9E4FF;

}


#mainFeedTexts .theirMessage a{
	text-align: left;
    background-color: #ECECEC;
    border-color: #DFDFDF;
}

#textUnitDiv {
	margin-top: 3px;
	width: calc(100% - 3em);
	word-break:break-all;

	/*text-align: right;*/
}

#mainFeedTexts a {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding: 3px 8px 3px 8px;
	max-width: 60%;
	text-align: right;

	color: #4F5B66;
	border: 2px solid #DFE1E8;
	border-radius: 16px;
	background-color: #DFE1E8;
}

#deckFeed {
	position: absolute;
	right: 0;
	top: 0;

	height: 100%;
	width: 10em;
	z-index: 4;
    background-color: #D9E5FF;
}

#mainFeedTexts a:hover {
	border: 2px solid #D9DDEC;
	border-radius: 16px;
	background-color: #D9DDEC;
}

#mainFeedTexts .timestamp {
	position: relative;
	z-index: 0;
	bottom: 2em;
	display: block;
	font-size: 0.6em;
	color: #D5D6E0;
	text-align: right;
}

.selectedConvo a {
	color: #2B303B;
	background-color: #A7ADB9;
}

#cols a {
	display: inline-block;
	width: 90%; /* change */
	padding-left: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	word-wrap: break-word;

	color: #4F5B66;
}

#cols a:hover {
	color: #2B303B;
}

.mainHeaderView {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;

	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;

	/*background-color: #EFF1F5;*/
}

#cols {
	position: relative;

	list-style: none;
	padding-left: 0;
	line-height: 1.2;
	color: #65737D;
}

#logout:hover {
	color: #BD626B;
	color: #EFF1F5;
}

#mainFeedTexts {
	position: relative;
	top: 20px;
	padding-left: 16px;
	padding-right: 16px;

	list-style-type: none;
	line-height: 1.2;
}

#mainFeed {
	position: absolute;
	left: 10em;
	bottom: 25px;
	height: calc(100% - 2em);
	width: calc(100% - 20em);
	/*min-width: 30em;*/

	background-color: #FAFCFF;
}

#mainFeedTextsDiv {
	height: calc(100% - 6.2em);
	overflow: auto;
}

#mainFeedInput {
	display: inline-block;
	position: absolute;
   	left: 10px;
   	right: 10px;
   	bottom: 10px;
   	height: 6em;
   	width: calc(100% - 3em - 20px);
   	padding: 5px 22px 5px 5px;
   	margin: auto;

   	background: #FFFFFF;
   	text-align: none;

   	border-radius: 5px;
	border-color: #A7ADB9;

	resize: none;
}

#convoFeed {
	position: absolute;
	top: 0;
	left: 0;
	width: 10em;
	height: 100%;
	z-index: 3;
    background-color: #ACC4F5;

}

#logoutDiv {
	position: absolute;
	bottom: 0px;
	left: 0px;
	/*width: 10em;*/
	width: 100%;
	height: 1.5em;

	background-color: #65737D;
	z-index: 5;
}

#logout {
	position: relative;
	top: 1px;
	left: 6px;

	text-decoration: none;
	color: #A7ADB9;
	font-size: .8em;
}

#convosDiv {
	position: absolute;
	top: 1em;
    width: 100%;
	height: calc(100% - 2em - 10px);
    background-color: #ACC4F5;
	overflow: auto;
}

#convoSearch {
	display:block;
	position: relative;
	top: 6px;
	width: 90%;
	margin: auto;
	padding: 2px 2px;

	border-radius: 2px;
	border: 1px solid #A7ADB9;
}

#colFeed {
	position: absolute;
	right: 0;
	top: 0;

	height: 100%;
	width: 10em;
	z-index: 3;
	background-color: #DFE1E8;
}

.deck {
	text-align: left;
}

#collectionTexts {
	position: relative;
	right: 10px;

	list-style: none;
	padding-left: 0;
	line-height: 1.2;
}

#collectionTexts a {
	text-align: left;
}

#collectionTexts .timestamp {
	position: relative;
	left: 0px;
	z-index: 0;
	bottom: 2em;
	display: block;
	font-size: 0.6em;
	color: #C0C5CE;
	text-align: right;
}

#colsDiv {
	position: absolute;
	top: 1.5em;
	right: 0;
	width: 100%;
	height: calc(100% - 2em - 10px);

    background-color: #D9E5FF;
	overflow: auto;
}

#moustacheHeader, #backDiv {
	display:block;
	position: relative;
	/*top: 4px;*/
    text-align: center;

	width: 100%;
	margin: auto;
	padding: 3px 3px;
    background-color: #c3cdf0;
}

#backDiv {
    text-align: left;
}

#cardFeed {
	position: absolute;
	left: 100%;
	top: 0;

	height: 100%;
	width: 10em;
	z-index: 3;
	background-color: #DFE1E8;
}

#cardDiv {
	position: absolute;
	top: 1.5em;
	height: calc(100% - 2em - 10px);

	overflow: auto;
}

#searchCards {
	display:block;
	position: relative;
	top: 4px;
	width: 90%;
	margin: auto;
	padding: 2px 2px;

	border-radius: 2px;
	border: 1px solid #C0C5CE;
}

#cards a {
	display: inline-block;
	width: 88%; /* change */
	padding-left: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	word-wrap: break-word;
}

#cards {
	position: relative;

	list-style: none;
	padding-left: 0;
	line-height: 1.2;
	color: #65737D;
}


#deckFeedTexts li {
    /*background-color: red;*/
	position: relative;
	z-index: 1;
	/*display: inline-block;*/
	/*max-width: 60%;*/
	/*text-align: right;*/
    list-style-type: none;
    padding: 3px;
    margin: 0;
	color: #4F5B66;
	border-radius: 16px;
	background-color: #ECECEC;
    border: 2px solid #DFDFDF;

	/*background-color: #575B66;*/
}

#deckFeedTexts li a {
    color: inherit;
    text-decoration: inherit;
}

/*me background-color: #EBF1FF;*/

/*there background-color: #ECECEC;*/

#deckFeedTexts {
    padding-left: 10px;
    padding-right: 10px;
}

#deckFeedTexts .timestamp{
    font-size: 8pt;
    padding-right: 10px;
    text-align: right;
}

#stashPic {
    width: 50px;
}